@import url(//fonts.googleapis.com/css?family=Open+Sans);
/* line 37, scss/custom.scss */
* {
  /*box-sizing:border-box;
  -moz-box-sizing:border-box;*/
  padding: 0;
  margin: 0;
  outline: 0;
}

/* line 45, scss/custom.scss */
*:focus {
  -webkit-transition: border 0.2s ease-in-out;
  -moz-transition: border 0.2s ease-in-out;
  -ms-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

/* line 50, scss/custom.scss */
.map {
  *box-shadow: 0 2px 4px -1px black;
  -moz-box-shadow: 0 2px 4px -1px black;
  -webkit-box-shadow: 0 2px 4px -1px black;
  -ms-box-shadow: 0 2px 4px -1px black;
  -o-box-shadow: 0 2px 4px -1px black;
  left: 0px;
}

/* line 59, scss/custom.scss */
html, body {
  overflow: auto;
  height: auto;
  width: auto;
  position: relative;
}

/* line 66, scss/custom.scss */
.map .logo-med {
  display: none;
}

/* line 70, scss/custom.scss */
label:empty {
  display: none;
}

/* line 78, scss/custom.scss */
.searchInputResults {
  white-space: nowrap;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-height: 150px;
  overflow: auto;
  position: relative;
  width: 100%;
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  -ms-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 3px 3px;
  top: -3px;
  padding: 0 5px 0 5px;
}

/* line 92, scss/custom.scss */
.searchInputResults div {
  margin: 1px;
  cursor: pointer;
  overflow: hidden;
}

/* line 97, scss/custom.scss */
.searchInputResults div:hover,
.searchInputResults .itemHovered {
  background-color: #b4d2e6;
  box-shadow: 0 2px 3px -2px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

/* line 103, scss/custom.scss */
.searchInputResults .itemSelected {
  background-color: #b4d2e6;
  box-shadow: 0 2px 3px -2px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

/* line 108, scss/custom.scss */
.searchInputResults div:active {
  background-color: #b4d2e6;
  box-shadow: 0 0 3px -2px !important;
}

/* line 112, scss/custom.scss */
.searchInputResults .supportValue {
  color: gray;
}

/* line 115, scss/custom.scss */
.searchResultHighlightMatch {
  background-color: #dcdcff;
}

/* line 118, scss/custom.scss */
.searchInputResults div:hover .searchResultHighlightMatch,
.searchInputResults div:active .searchResultHighlightMatch,
.searchInputResults div:focus.searchResultHighlightMatch {
  background-color: transparent;
}

/* line 127, scss/custom.scss */
.hoverTip {
  color: white;
  background-color: rgba(120, 170, 205, 0.9);
  background-color: #78aacd;
  box-shadow: none;
}

/* line 138, scss/custom.scss */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

/* line 145, scss/custom.scss */
.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #005CAB;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 159, scss/custom.scss */
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

/* line 164, scss/custom.scss */
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
